#footerRow{
   bottom:0;
   width:100%;
   position: relative;
}

#titlenlogo img{
      height:118px;
      float: left;
      padding-left: 17px;
}

#titlenlogo h1{
      color: coral;
      padding-top: 25px;
       float: left;
}

#searchButton{
     padding-left: 14px;
    padding-right: 52px;
    padding-top: 50px;

}
.col-xs-3.refinePanel > hr{
    margin: 10px 0;
    border-color: #ccc;
}
.displayBlock{
    display: block;
}
.displayInlineBlock{
    display: inline-block;
}
.btm{
    padding-bottom: 30px;
}
.cntr{
     text-align: center;
}
.cntr img{
    height: 40px;
}
.btn-primary{
   
    
}
#pymntimg{
 height: 70px;
 width: 180px;
}
#gotoCartBtn{
   float: right;
    padding-bottom: 32px;
    padding-left: 240px;
    padding-right: 96px;
}
.glyphicon, p {
    display : inline;
}
.formText{
    padding-top: 3px;
}
.radio, .checkbox {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 31px;
  cursor: pointer;
}

.radio:hover .inner, .checkbox:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
}

.radio input, .checkbox input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.radio input:checked + .outer .inner, .checkbox input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.radio input:checked + .outer, .checkbox input:checked + .outer { border: 2px solid #f08b3b; }

.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #e67012;
}

.radio .outer, .checkbox .outer {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin: 10px 9px 10px 0px;
  border: 2px solid #0c70b4;
  border-radius: 50%;
  background-color: #fff;
}

.radio .inner, .checkbox .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 8px;
  height: 8px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 2px;
  border-radius: 50%;
  background-color: #f08b3b;
  opacity: 0;
}
 .checkbox .inner, .checkbox .outer {
    border-radius: 0;
}
.btm{
    text-align:center;
}
.btm img{
    padding-bottom:2rem;
}
#cartButton{
    border-radius:5px;
    line-height:2;
}
#cartButton:hover,#checkoutButton:hover,#formButton:hover{
    background-color:#f08b3b;
}
.cartButton.orangeButton{
   background-color:#f08b3b;
}
#checkoutButton{
    border-radius:2rem;
}
.tableHeader{
    font-weight:bold;
}
.checkoutImg{
    height:12rem;
    padding-right: 1rem;
}
.checkoutBook{
    font-weight: bold;
    font-size:14px;
}
#formCnt{
    width:650px;
}