<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Book</td>
                <td>Quantity</td>
                <td>Price</td>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of selectedBooks">
                <td><span><img src={{book.image}}></span>
                    <span>{{book.BookName}}</span>
                </td>
                <td><input type="text" value="1" size="1" ></td>
                <td>{{book.Price}}</td>
            </tr>
        </tbody>

    </table>
    <div id="gotoCartBtn">
   <button type="button" class="btn btn-primary"
    (click)="gotoForm()">Continue</button>
 </div>
</div>
