<div class="container minimumHeight">
    <table class="table table-hover">
        <thead>
            <tr class="tableHeader">
                <td>Book</td>
                <td>Quantity</td>
                <td>Price</td>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of selectedBooks">
                <td><span><img src={{book.image}} class="checkoutImg"></span>
                    <span class="checkoutBook">{{book.BookName}}</span>
                </td>
                <td class="verticalAlignMiddle"><input #quantity type="text" [(ngModel)]="factor" size="1" ></td>
                <td class="verticalAlignMiddle">{{book.Price | multiply : factor }}</td>
            </tr>
        </tbody>

    </table>
    <div id="gotoCartBtn">
   <button type="button" class="btn btn-primary"
    (click)="gotoForm()">Continue</button>
 </div>
</div>
