<div id="footerRow" class="row">
    <hr>
     <div class="col-md-4 cntr">
         <p>Subscribe</p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">submit</span>
        </div> 
     </div>
     <div class="col-md-4 cntr">
         <p>ConnectWithUS</p>
         <img src="./images/fb.png">
         <img src="./images/lnk.png">
         <img src="./images/twtr.png">
         <img src="./images/utub.png">
     </div>
     <div class="col-md-4 cntr">
         <img id ="pymntimg" src='./images/payment.jpg'>
     </div>

</div>