<div id="headerRow" class="row">
    <div id="titlenlogo"  class="col-xs-4">
        <div> 
      <a routerLink="/home">  <span><img src='./images/samplelogo.jpg'></span></a>
        
         
        <span><h1>{{title}}</h1></span></div>
      </div>
        
        <div class="col-xs-5 headerButton">
            <div class="input-group">
            <input type="text" #searchterm class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                (click)="setSearchTerm(searchterm.value)" [routerLink]="['/dummy',{word: searchterm.value}]">Go!</button>
            </span>
	    </div>
        </div>
       <div class="col-xs-3 headerButton">
            <nav class="navLinks">
                <ul>
                    <li class="displayInlineBlock"> <a href="#"> Login </a></li>
                    <li class="displayInlineBlock"> <a href="#"> Contact us </a></li>
                    <li class="displayInlineBlock"> <a href="#"> Help </a></li>
                </ul>
            </nav>
        </div>  
      
    </div>

 <hr>